:root{
    --clr-white: hsl(0, 100%, 100%);
    --clr-purple-100: hsl(275, 100%, 97%);
    --clr-purple-600:  hsl(292, 16%, 49%);
    --clr-purple-950: hsl(292, 42%, 14%);
}
*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    font-size: 16px;
}
body{
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    background-color:  var(--clr-purple-100);
}
header{
    height: 36vh;
    background:  var(--clr-purple-950);
    background:  url(../images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}










