:root{
    --clr-white: hsl(0, 100%, 100%);
    --clr-purple-100: hsl(275, 100%, 97%);
    --clr-purple-600:  hsl(292, 16%, 49%);
    --clr-purple-950: hsl(292, 42%, 14%);
}
*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
::selection{
    background-color: var(--clr-purple-950);
    color:  var(--clr-purple-100);
}
html{
    font-size: 16px;
}
body{
    font-family: 'Work Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    background-color:  var(--clr-purple-100);
}
header{
    height: 30vh;
    background:  var(--clr-purple-950);
    background:  url(../images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding-top: 8rem;
}
.faq{
    background-color: var(--clr-white);
    width: 90%;
    max-width:  600px;
    margin: 0 auto;
    padding: 1rem;
    color: var(--clr-purple-950);
    border-radius: 8px;
}
.title{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 2rem;
}
.icon-star{
    width: 2rem;
    height: 2rem;
}
h1{
    font-size: 2.4rem;
    font-weight: 700;
}
.question{

    overflow: hidden;
}
.question-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.question-tag{
    font-weight:  600;
    cursor: pointer;
}
.question-tag:hover{
    color:  var(--clr-purple-600);
}
.question-title img{
    margin-left: 3rem;
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
}
.answer{
    padding-top: 1.4rem;
    padding-bottom: 2.4rem;
    font-size: .97rem;
    color:  var(--clr-purple-600);
    line-height: 1.4;
}






